body {
    background-color: lavender;
    background-image: url("https://wallpaperstock.net/wallpapers/thumbs1/54641hd.jpg");
}
h1 {
    text-align: center;
    background-color: pink;

}
h2 {
    font-family: 'Baloo Bhaijaan', cursive;
    color: white;
}
li {
    font-family: 'Dancing Script', cursive;
    color: white;
}
p {
    color: white;
    font-family: 'Dancing Script', cursive;
}
img {
    height: 400px;
}